<!-- indexで入力した数値から、総返済額、毎月返済額、ある時点での残債を表示する -->
<% @title = 'ある時点での残債' %>
<h1><%= @title %></h1>
<div>
  <div>
    <%=
      if @result.kind_of?(String)
        @result
      else
        @result.to_s + '万円'
      end
    %>
  </div>
  <div>
    <%= link_to '計算画面に戻る', :calculations %>
  </div>
</div>
